@import "_JMTtemplate.scss";

.title {
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.dicebox-container {
  text-align: center;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 0.25fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 0.5fr; 
}

.dicebox {
  margin-top: 35px;
  max-width: 64px;
  max-height: 64px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: var(--semi-white);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px 8px;
}

#rollButton {
  margin-top: 60px;
  margin-bottom: 30px;
  grid-column-start: 4;
  grid-row-start: 2;
}

#readout {
  grid-column-start: 4;
  grid-row-start: 3;
}

#diceimage_01 {
  margin-right: 0px;
  grid-column-start: 3;
  grid-row-start: 1;
}

#diceimage_02 {
  margin-left: 0px;
  grid-column-start: 5;
  grid-row-start: 1;
}