@import "JMTtemplate.css";

img{
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

p {
  margin-top: -10px;
}

p:last-of-type {
  margin-bottom: 35px;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: -20px auto;
}

.cardbox {
  margin-top: 50px;
}

.cardholder {
  position: absolute;
  width: 150px;
  margin-left: 50%;
  text-align: center;
  left: -75px;
  perspective: 300px;
}

.card {
  position: absolute;
  background-color: var(--semi-white);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px 8px;
  max-width: 150px;
  top: 0;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
}

.card01 {
  left: 0px;
}

.card02 {
  left: 210px;
}

.card03 {
  left: -210px;
}

.card04 {
  left: -105px;
  top: 300px;
}

.card05 {
  left: 105px;
  top: 300px;
}

.draggable {
  transition: transform 0.4s;
}

.dragging {
  position: absolute;
  z-index: 100;
}

.icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
}

a {
  color: var(white);
}

/* Template overrides */

body {
  background-color: #211e19;
  background-image: url("https://raw.githubusercontent.com/jackmadethat/jackmadethat.github.io/main/img/tarot/gnostic/LinePattern.png");
  background-size: 156px;
}

.button-tile {
  width: 130px;
  margin-top: -25px;
}