@import "JMTtemplate.css";

.sig {
  margin-top: 20px;
  max-width: 200px;
  height: 138px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://raw.githubusercontent.com/jackmadethat/jackmadethat.github.io/main/img/sig.png");
}

#projects {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

h2 {
  color: #f5f6f7;
  font-size: clamp(0.75rem, 2vw, 1.25rem);
}

.contact {
  display: block;
  background-color: var(--semi-white);
  color: var(--main-blue);
  border-top: 1px solid #f5f6f7;
  border-bottom: 1px solid #f5f6f7;
  margin-top: 30px;
  margin-bottom: 30px;
}

.socmed-container {
  display: flex;
  justify-content: center;
  height: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.socmed-box {
  height: 100%;
  width: 48px;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 1.5s ease;
}

.socmed-box:hover {
  transform: scale(1.2); 
  transition: all 0.2s ease;
}

@keyframes scroll {
	0% { transform: translateX(1000px); }
	100% { transform: translateX(-243px) }
}

.img-container {
  animation: scroll 15s linear infinite;
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 500px;
}

.scrollbox {
  height: 100px;
  margin: auto;
  overflow:hidden;
  position: relative;
  max-width: 500px;
  z-index: 1;
  top: -100px;
  background-color: rgba(0, 0, 0, 0.15);
}

.img-slide {
  height: 100px;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-content: center;
  z-index: 1;
}

.gradientcontainer {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  max-width: 500px;
  box-shadow: rgb(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.45) 0px 18px 36px -18px inset;
  background: linear-gradient(to right,  rgba(0, 0, 0, 70%) 0%, rgba(0, 0, 0, 0%) 15%, rgba(0, 0, 0, 0%) 85%, rgba(0, 0, 0, 70%) 100%);
  z-index: 3;
}

.jsButton {
  max-width: 50px;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--semi-white);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px 8px;
  transition: all 0.3s ease;
}

.jsButton:hover {
  background-color: #fff;
  transform: matrix(1.2, 0, 0, 1.2, 0, -6); 
  transition: all 0.3s ease;
}

.jsButton-container {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-bottom: -35px;
}

.button-tile-js {
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.jsButton:active {
  background-color: #fff;
  transform: matrix(0.9, 0, 0, 0.9, 0, 0); 
  transition: all 0.1s ease;
}

/* Template overrides */

.button-container:first-of-type {
  margin-top: 10px;
}

.button-container:last-of-type {
  margin-bottom: -20px;
}

body {
  overflow: auto;
}