:root {
    --main-blue: #1b1b32;
    --middle-blue: #49495b;
    --white: #f5f6f7;
    --semi-white: rgba(255,255,255,20%);
    --hexBG: url("https://raw.githubusercontent.com/jackmadethat/jackmadethat.github.io/main/img/HexGrid.png");
}
  
html {
    font-family: arial;
    box-sizing: border-box;
}
  
body {
    background-color: var(--main-blue);
    background-image: var(--hexBG);
    background-size: 256px;
    color: var(--white);
    font-size: 16px;
    overflow: hidden;
}

.title {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.button-tile {
    border: 1px solid #fff;
    text-align: center;
    line-height: 47px;
    font-size: 1.1rem;
    margin-bottom: 20px;
    width: 250px;
    height: 50px;
    background-color: var(--semi-white);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
    box-shadow: 0px 23px 73px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

.button-tile:hover {
    background-color: #fff;
    color: #000;
    transform: matrix(1.05, 0, 0, 1.05, 0, -6); 
    transition: all 0.3s ease;
}

.button-tile:active {
    background-color: #fff;
    color: #000;
    transform: matrix(0.95, 0, 0, 0.95, 0, 0); 
    transition: all 0.1s ease;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-bottom: -50px;
}

.tile {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    user-select: none;
}

.center {
  text-align: center;
}

/* Button Syntax */
/*
<div class="button-container">
    <a class="tile" href="" target="_blank">
    <div class="button-tile">Button Text</div>
    </a>
</div>
*/