:root {
  --main-blue: #1b1b32;
}

html {
  font-family: arial;
}

body {
  background-color: var(--main-blue);
  color: #f5f6f7;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;
}

.center {
  text-align: center;
}

.sig {
  margin-top: 20px;
  max-width: 200px;
  height: 138px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://raw.githubusercontent.com/jackmadethat/jackmadethat.github.io/main/sig.png");
}

@media (width: 100%) {
  background-color: var(--main-blue);
}

.projects {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-tile {
  border: 1px solid #fff;
  text-align: center;
  line-height: 47px;
  font-size: 1.1rem;
  margin-bottom: 20px;
  width: 250px;
  height: 50px;
  background-color: rgba(255,255,255,20%);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: monospace;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.project-tile:hover {
  background-color: #fff;
}

.project-container {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-bottom: -50px;
}

.project-container:first-of-type {
  margin-top: 35px;
}

.project-container:last-of-type {
  margin-bottom: 35px;
}

a.tile {
  text-decoration: none;
  color: #fff;
}

a.tile:hover {
  color: #000;
}

h2 {
  color: #f5f6f7;
}

.horizontal-line {
  background-color: #f5f6f7;
  width: 100%;
  height: 1px;
}

.contact {
  display: block;
  background-color: rgba(255,255,255,20%);
  color: var(--main-blue);
  border-top: 1px solid #f5f6f7;
  border-bottom: 1px solid #f5f6f7;
  margin-top: -30px;
}

.socmed-container {
  display: flex;
  justify-content: center;
  height: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.socmed-box {
  height: 100%;
  width: 48px;
  margin-left: 5px;
  margin-right: 5px;
}

.box-container {
  display: grid;
  text-wrap: nowrap;
  grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
  margin-top: 15px;
}

.box-container-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.box {
  min-height: 220px;
  height: 100%;
  margin: 10px;
  border: 1px solid #FFF;
  background-color: rgba(255,255,255,20%);
  box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  min-width: 100px;
}

.box-contents {
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-right: 15px;
  word-wrap: normal;
  text-wrap: wrap;
}

.box-text {
  justify-content: center;
  text-align: left;  
  list-style-type: circle;
  font-size: 1.5vw;
}

li {
  padding-top: 2px;
  padding-bottom: 2px;
}

h2 { 
  margin-right: -15px;
  font-size: 2vw;
}
