* {
    font-family: "Roboto", sans-serif;
    /* border: 1px solid black; */
}

body {
    margin: 0;
    padding: 0;
}

.svg-white {
    color: #FFF;
}

#mainContainer {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    height: 100%;
    margin: auto;
    max-width: 1200px;
    min-height: 1000px;
}

#sidebar { 
    grid-area: 1 / 1 / 3 / 2; 
    background-color: rgb(54, 141, 255);
    min-width: 240px;
    color: white;
    z-index: 3;

    h2 {
        display: flex;
        align-items: center;
        margin-left: 15px;

        svg {
            margin-right: 10px;
        }
    }

    ul {
        list-style: none;
        font-weight: 800;
        margin-left: -15px;
        margin-top: 45px;
    }

    li {
        margin-top: 10px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        svg {
            margin-right: 20px;
        }
    }
}

#header { 
    grid-area: 1 / 2 / 2 / 3; 
    min-height: 120px;
    display: grid;
    grid-template-columns: 0.8fr 0.4fr;
    box-shadow: -10px 2px 5px 5px rgba(0,0,0,0.1);
    padding-top: 20px;
    z-index: 2;
}

#bodyContent { 
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr 0.35fr;
    background-color: rgb(231, 231, 231);
}

#board h2 { 
    padding-left: 15px;
    margin-bottom: 0px;
}

#projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 15px;
}

.project {
    height: 200px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border-left: solid;
    border-left-width: 7px;
    border-left-color: rgb(255, 208, 54);
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.1), -2px 9px 3px -3px rgba(0,0,0,0.1);

    p {
        color: rgba(0, 0, 0, 0.6);
    }
}

#innerSidebar { 
    display: grid;
    align-content: start;
    row-gap: 25px;
    grid-template-rows: 1fr 1fr;
    padding-left: 8px;
    padding-right: 12px;
}

#headerLeft {
    padding-left: 25px;
}

#headerRight {

}

#headerLeftTop {
    display: flex;
    align-items: center;
    padding-top: 10px;

    input {
        background-color: rgb(231, 231, 231);
        border-radius: 20px;
        width: 80%;
        margin-left: 20px;
        border: none;
        height: 30px;
    }
}

#headerLeftBottom {
    display: grid;
    grid-template-columns: 0.17fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80px;
    margin-left: 20px;
    margin-top: 30px;

    .imgContainerLarge {
        grid-area: 1 / 1 / 3 / 2;
    }

    h2 {
        margin-top: -20px;
    }
}

#headerRightTop {
    display: flex;
    align-items: center;
    margin-top: -5px;
    margin-bottom: 35px;

    svg {
        padding-right: 25px;
    }

    div.imgContainer {
        margin-right: 25px;
    }

    h3 {
        padding-right: 25px;
    }
}

#headerRightBottom {
    button {
        border-radius: 20px;
        border: none;
        color: white;
        background-color: rgb(54, 141, 255);
        width: 80px;
        height: 35px;
        margin-right: 20px;
    }
}

#announcementsDiv {
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.1), -2px 9px 3px -3px rgba(0,0,0,0.1);
    padding: 20px;
    font-size: 12px;

    p {
        margin-top: -5px;
        color: rgba(0, 0, 0, 0.6);
    }

    hr {
        color: rgba(255, 255, 255, 0.5);
    }
}

#trendingDiv {
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.1), -2px 9px 3px -3px rgba(0,0,0,0.1);
    padding: 20px;
    font-size: 12px;

    p {
        margin-top: -15px;
        color: rgba(0, 0, 0, 0.65);
    }
}

#trendingDiv {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.imgContainer {
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
}

.imgContainerLarge {
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 50%;
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
}