@import "JMTtemplate.css";

h2 {
	color: #f5f6f7;
	font-size: clamp(0.75rem, 2vw, 1.25rem);
}

#fighterDiv {
	position: absolute;
	width: 80;
	height: 80;
}

#backFace {
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.25) 10px 40px 60px 60px inset, rgba(0, 0, 0, 0.5) 10px 18px 36px -18px inset;
	height: 213px;
}

#playArea {
	background-color: var(--main-blue);
	background-image: url("https://raw.githubusercontent.com/jackmadethat/jackmadethat.github.io/main/img/fighterchar/HexFloor_Wide.png");
	background-position: center;
	height: 255px;
	width: 100%;
}

/* Template overrides */

